<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav class="navbar navbar-default" style="padding-top:30px;padding-bottom: 70px;">
	  <div class="container">
	    <div class="row">
			<div class="navbar-header">
				<div class="col-lg-8">
					<a class="nav-link" href="/" style="padding-right:20px;">Все задачи</a>
					<%= link_to 'Новая задача', new_post_path, class: 'nav-link' %>
				</div>
				<div class="col-lg-4">
					<div style="text-align:right;">
						<% if user_signed_in? %>
							<%= current_user.email %>
							<%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
						<% else %>
							<%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %> 
						<% end %>
					</div>
				</div>
			</div>
	    </div>
	  </div>
	</nav>

  	<div class="container" style="padding-top:30px;padding-bottom:50px;">
  		<div class="row">
			<div class="col-lg-12" style="padding-bottom:30px;">
				<h1>Задачи</h1>
			</div>
		</div>


		<div class="row">
			<div class="col-lg-12">
				<% flash.each do |name, message| %>
					<div class="alert alert-<%= name %>">
						<%= message %>
					</div>
				<% end %>
			</div>
		    <div class="col-lg-12">
		    	<%= yield %>
			</div>
		</div>
	</div>


  </body>
</html>
